---
clientid: inserthere
clientsecret: inserthere
proxymode: inserthere // Either 'true' or 'false'
domain: inserthere // e.g. 'localhost'
unifi:
  username: inserthere e.g. 'ubnt'
  password: inserthere // e.g. 'ubnt'
  baseurl: inserthere // e.g. 'https://unifi:8443'
  site: inserthere // e.g. 'default'
  insecuremode: inserthere // Either 'true' or 'false'
allowedsubnets:
  - inserthere // e.g. '192.168.1.0/24'
  - inserthere // e.g. '192.168.50.0/24'
custom:
  name: inserthere // e.g. "xx corp"
  subtext: inserthere // e.g. "slogan"
...