$bright-red: rgb(175, 94, 108);
$bright-green: rgb(217, 225, 130);
$brighter-green: #e8f085;
$brighter-red: #f0697a;
$sorta-white: rgba(253, 255, 255, 1);
$bright-grey: #ececec;
$text-bright-grey: #dedede;
$bg-grey: #354865;