@import 'colours';

$mobile-cutoff: 600px;
$mobile-cutoff-second: $mobile-cutoff - 100px;

.control-panel {
  background-color: #7072dc;
  height: 50px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  h2 {
    display: flex;
    align-items: center;
    color: $sorta-white;

    @media screen and (max-width: $mobile-cutoff) {
      align-items: flex-start;
    }
  }

  .title {
    margin-left: 5px;
    margin-right: 5px;
  }

  .buttons {
    height: inherit;
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-cutoff - 200px) {
      height: auto;
      flex-direction: column;
      margin-bottom: 6px;
    }
  }

  button {
    height: 50%;
    margin-left: 5px;

    @media screen and (max-width: $mobile-cutoff) {
      flex: 1;
      margin-top: 3px;
      margin-left: 0;
    }
  }

  @media screen and (max-width: $mobile-cutoff) {
    height: auto;
    flex-direction: column;
    margin-bottom: 0;
  }
}