@import 'reset';
@import 'bourbon/bourbon';
@import 'colours';
@import 'fonts';

$mobile-cutoff: 600px;
$mobile-cutoff-second: $mobile-cutoff - 100px;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $bg-grey;
}

h2 {
  font-size: 2.8em;
}

.voucherbox {
  color: $text-bright-grey;
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  p {
    margin-bottom: 8px;
  }

  input {
    font-size: 1.4em;
    justify-content: center;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: #f7f7f7;
    padding: 6px 15px 6px 14px;
    justify-content: center;
    display: inline-flex;

    &:hover {
      background-color: #46a14a;
      cursor: pointer;
    }
  }

  margin-bottom: 10px;
}

.fbbox {
  display: flex;
  flex-direction: column;
  img {
    padding-top: 10px;
    margin: 0 auto;

    &:hover {
      filter: brightness(90%);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  p {
    color: $text-bright-grey;
    font-family: "Open Sans", sans-serif;
  }

  .bigtext {
    font-size: 5em;
    color: #b793de;
  }
}

.authorisedUserWelcome {
  display: flex;
  flex-direction: column;

  .profilepicture {
    border-radius: 50%;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: #f7f7f7;
    padding: 6px 15px 6px 15px;
    //width: 70px;

    &:hover {
      background-color: #46a14a;
      cursor: pointer;
    }

    @media screen and (max-width: $mobile-cutoff) {
      padding: 12px 30px 12px 30px;
      font-size: 1.7em;
     // background-color: #f0697a;
    }
  }
}


.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer {
  display: flex;

  h2 {
    @media screen and (max-width: $mobile-cutoff - 200px) {
      flex: 1;
    }
  }

  @media screen and (max-width: $mobile-cutoff - 200px) {
    flex-direction: column;
  }
}

.container {
  max-width: 50em;
  margin: 0 auto;

  a {
    color: $text-bright-grey;
  }
}

.title {
  padding-top: 8px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $bright-grey;
}

/*
Animation made by Tobias Ahlin, can be found here: https://github.com/tobiasahlin/SpinKit
License can be found in NOTICE on https://github.com/sequoiia/unifi-proper-portal or /NOTICE
 */
.awaitingAuth {
  width: 40px;
  height: 40px;
  margin: 30px auto;
  background-color: #ffffff;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}